@model CrudProject.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<div class="container mt-4">
    <h1>Student Details</h1>
    <hr />

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Course)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Course)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Fees)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fees)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EnrollmentDate)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EnrollmentDate)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-outline-dark">Edit</a>
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </div>
</div>
